<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>나의 프로필</title>

</head>

<body>
    <!-- 다른 내용과 함께 헤더 템플릿 포함 -->
    <div th:insert="~{/header::header}"></div>

    <!-- 나머지 페이지 내용 -->
    <div class="home_mainbox">

        <div class="profileBox">

            <p th:text="|${profile.userid}님|" />
            <p th:text="|${profile.introduce}님|" />

            <button class="profilebtn">프로필 수정</button>

        </div>

        <button class="addbtn">추가</button>

        <div th:insert="~{/portfolioBox::portfolioBox}" class="portfolioBox"></div>

    </div>


</body>

<script>

    function createCardItem() {
        const cardItem = document.createElement('div');
        cardItem.classList.add('card-item');
        cardItem.textContent = 'Card Item';
        cardContainer.appendChild(cardItem);
    }

    function onclickCardItem(itemid) {
        console.log('클릭 아이템 ID : ' + itemid);
    }

    const addBtn = document.querySelector('.addbtn');
    const profilebtn = document.querySelector('.profilebtn');

    addBtn.addEventListener('click', () => {
        window.location.href = '/editport'; // editport.html 페이지로 이동
    });

    profilebtn.addEventListener('click', () => {
        window.location.href = '/updateProfile'; // editport.html 페이지로 이동
    });

    function logoClick()
    {
        window.location.href = '/';
    }

</script>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        // 포스트 목록을 포함한 요소들을 가져옴
        var postItems = document.querySelectorAll('.card-item');

        // 포스트 목록 콘솔 출력
        console.log("포스트 목록:");
        postItems.forEach(function(item) {
            var titleElement = item.querySelector('h3');
            var titleText = titleElement.textContent.trim();
            console.log("- " + titleText);
        });
    });
</script>

</html>