<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>나의 프로필</title>

</head>

<body>

    <div th:fragment="portfolioBox">

        <div class="titleBox">
            <div class="protfolioTitle">포트폴리오 목록</div>
            <button class="addbtn">추가</button>
        </div>
        
        <div class="card-container">
            <div class="card-item" th:each="post, postStat : ${posts}" th:id="${postStat.index}" onclick="onclickCardItem(this.id)">

                <div class="card-cover">
                    <img src="https://easyportstorage.blob.core.windows.net/defaultimages/test.jpg" style="width:100%"> 
                </div>

                <div class="card-info">
                    <p class="card-title" th:text="${post.title}">타이틀</p>
                </div>

                
            </div>

            
        </div>

    </div>


</body>

<script>

    const cardContainer = document.querySelector('.card-container');
    const testBtn = document.querySelector('.testbtn');

    testBtn.addEventListener('click', createCardItem);
    

    function createCardItem() {
        const cardItem = document.createElement('div');
        cardItem.classList.add('card-item');
        cardItem.textContent = 'Card Item';
        cardContainer.appendChild(cardItem);
    }

    function onclickCardItem(itemid) {
        console.log('클릭 아이템 ID : ' + itemid);
    }

    const addBtn = document.querySelector('.addtbtn');

    addBtn.addEventListener('click', () => {
        window.location.href = '/editport'; // editport.html 페이지로 이동
    });

</script>

</html>