<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/updateProfile.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>프로필 수정</title>
</head>

<body>

    <div th:insert="~{header::header}"></div>

    <div class="profile-form">
        <div class="container">
            <div class="rounded-box" id="imageContainer">

                <img th:src="${imgurl}"
                    onerror="this.onerror=null; this.src='https://easyportstorage.blob.core.windows.net/defaultimages/noimg.png';"
                    height="100%" width="100%" style="object-fit: cover; border-radius: 3vh;">

            </div>
            <div id="customFileContainer">
                <!-- 사용자 정의 input file 버튼 -->
                <form th:action="@{/uploadProfileImg}" method="post" enctype="multipart/form-data" id="uploadForm">

                    <input type="file" name="file" id="imageInput" accept="image/*" required>
                    <button type="button" onclick="triggerUpload()">업로드</button>

                </form>


            </div>
            
        </div>

        <form action="/updateProfile" method="post" th:object="${profile}">
            <label for="phone">연락처</label><br>
            <input type="text" maxlength="13" th:field="*{phone}" oninput="autoHyphen(this)"
                value="${profile.phone}"><br>

            <label for="Email">연락 이메일</label><br>
            <input type="email" th:field="*{email}" value="${profile.email}"><br>

            <label for="introduce">자기소개</label><br>
            <textarea id="bio" th:field="*{introduce}" rows="4" cols="50" th:text="${profile.introduce}"
                style="resize: none;"></textarea><br>

                <label>프로필 공개 여부:</label><br>
                <label><input type="radio" id="isAccessRadio" th:field="*{canview}" th:value="true" th:checked="${profile.canview}" onclick="showbtn()"> 공개</label><br>
                <label><input type="radio" th:field="*{canview}" th:value="false" th:checked="${!profile.canview}" onclick="hidebtn()"> 비공개</label><br>
            
                <button id="copyButton" type="button" onclick="copyTextToClipboard()">링크 복사</button><br>


                <input type="hidden" id="viewkey" th:field="*{viewkey}" th:value="${profile.viewkey}" >

            <button type="submit" class="primary" style="margin: 1vh;">저장</button>
            <button type="reset" onclick="location.href='/myboard'">취소</button><br>
        </form>
    </div>

    



</body>

<script>
    function triggerUpload() {
        const fileInput = document.getElementById('imageInput');
        fileInput.click();
        fileInput.addEventListener('change', function () {
            if (fileInput.files.length > 0) {
                document.getElementById('uploadForm').submit();
            }
        });
    }

    var copyButton = document.getElementById('copyButton');

    window.onload = function() {
        var copyButton = document.getElementById('copyButton');
        if (isAccessRadio.checked) {
            copyButton.style.display = 'block'; // 선택되면 버튼 표시
        } else {
            copyButton.style.display = 'none'; // 선택 해제되면 버튼 숨김
        }
    };

    function hidebtn()
    {
        console.log('버튼숨기기');
        copyButton.style.display = 'none';
    }

    function showbtn()
    {
        console.log('버튼보이기');
        copyButton.style.display = 'block';
    }
    


    function copyTextToClipboard() {
        var viewkeys = document.getElementById('viewkey').value;
        var url = "https://easyportfolio.azurewebsites.net/publicView?code=" + viewkeys;
        // 클립보드에 복사하기
        navigator.clipboard.writeText(url)
            .then(() => {
                alert('공유링크가 클립보드에 복사되었습니다.');
            })
            .catch((error) => {
                console.error('공유링크 복사 중 오류 발생:', error);
                alert('공유링크 복사 중 오류가 발생했습니다.');
            });
    }

    
</script>

</html>